<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Request Accesss</title>
</head>
<body>
  <form action="/requests/submit-email" method="post">
    <input type="email" placeholder="request the access by sending your email id" name="email">
    <input type="submit" placeholder="submit">
  </form>
</body>
</html>